engine/intermediate/*
engine/bin/*

extern/*/bin/*
extern/*/intermediate/*

extern/SDL2/VisualC/SDL/Win32/*
extern/SDL2/VisualC/SDLmain/Win32/*

*.suo
*.user
*.sln.docstates
*_i.c
*_p.c
*_i.h
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc
*.o
*.aps
*.ncb
*.opensdf
*.sdf
*.cachefile
*.psess
*.vsp
*.vspx


